body {
  margin: 0;
  background: #dddddd;
  text-align: center;
}

.PageContent{
  align-content: center;
}

.PopOutParagraph {
  color: #530404;
  font-size: 40px;
}

ul.PageBar{
  list-style: none;
  white-space: nowrap;
}

ul.PageBar li{
  display:inline-block;
  padding: 0 0.5rem;
  width: 15%;
  min-width: 5rem;
  max-width: 15rem;
  
  text-align: center;
  border: 1px solid black;

}

div.ProjectContainer{
  background-color: aqua;
  position: relative;
  width: 75%;
  margin:0 auto; 
  overflow: auto;
}

div.ProjectTitleTile{
  background-color: palegoldenrod;
  border:1px solid pink;
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

div.ProjectTitleTile p{
  text-align: left;
  position:absolute;
  bottom: 0;
}

p.ParagraphContent{
  display:flex;
  justify-content: center;
  text-align:center;
  align-items: center;
  margin: auto;
  width: 70%;
  padding: 2rem;
  font-size:20px;
}


@media only screen and (max-width:1214px) and (min-width:481px){
  ul.PageBar{
    list-style: none;
    white-space: normal;
  }

  ul.PageBar li{
    padding: 0 0.5rem;
    width: 15%;
    min-width: 0rem;
    max-width: 15rem;
    
    text-align: center;
  }
}

@media only screen and (max-width:480px){
  ul.PageBar{
    list-style: none;
    white-space: pre-wrap;
    justify-content: center;
  }

  ul.PageBar li{
    display:inline-block;
    padding: 0 0;
    width: 100%;
    max-width: none;
    min-width: none;
    text-align: center;
  }

}