html{
    background-color:#1d1d1d;
  }
  
  body{
    background: #000000;
    box-shadow: 0 6px 10px 10px rgba(0, 255, 4, 0.2)
  }
  
  a:link, a:visited, a:hover{
    color:#000000;
  }
  
  pre, img, div.IframeContainer iframe{
    border-color: #00ff00;
  }
  
  .LinkTile{
    border: 1px solid #00ff00;
    background-color: #000000;
  }
  
  .PageText{
    color:#ffffff;
  }
  