
a:link{
  color:#b4d0bd;
}

a:visited{
  color:#b4d0bd;
}

a:hover{
  color:#b4d0bd;
}


body {
  margin: 0;
  background: #41514b;
  text-align: center;
}

.PageText{
  color:#edefe7;
}



.PageHeading {
  font-size: 40px;
}

.PageSubtitle{
  justify-content:center;
  text-align:left;
  align-items:center;
  width:70%;
  margin:auto;
  font-size:30px;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.PageListing{
  margin:auto;
  align-items:center;
  justify-content: center;
  text-align: left;
  width:70%;
  padding:1rem;
  font-size:20px;
}

p.ParagraphContent{
  justify-content: center;
  text-align:left;
  text-indent: 50px;
  align-items: center;
  margin: auto;
  width: 70%;
  padding: 2rem;
  font-size:20px;
  text-indent: 0px;
}

#PageBar li{
  
  display:inline-block;
  padding: 0 0.5rem;
  width: 15%;
  min-width: 5rem;
  max-width: 15rem;
  text-align: center;
 
  font-size: 25px;


  line-height: 2em;
  min-height: 2em;
  max-height: 2em;
  overflow-y: hidden;
}

.LinkTile{
  border: 1px solid #b4d0bd;
  background-color: #475456;
}


pre {
  color: #f4f4f4;
  /*border: 5px solid #5D2B90;*/
  border:2px solid #b4d0bd;
  

  background: #444;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 70%;
  overflow: scroll;
  overflow-y: hidden;
  text-align: left;
  padding: 1em 1.5em;
  display: block;
  margin: auto;
}

div.IframeContainer{
  position:relative;
  width: 100%;
  height:0;
  padding-bottom: 56.25%;
}

div.IframeContainer iframe{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background:url(images/Untitled.png) center center no-repeat;
  border:2px solid #b4d0bd;

}

img{
  max-width: 80%;
  max-height: 80%;
  margin:auto;
  border: 2px solid #b4d0bd;
}

@media only screen and (min-width:1215px){
  #PageBar{
    padding:1rem;
  }
}

@media only screen and (max-width:1214px) and (min-width:641px){
  #PageBar{
    padding:1rem;
  }

  #PageBar li{
    padding: 0 0.5rem;
    width: 15%;
    min-width: 0rem;
    max-width: 15rem;
    text-align: center;

  }
}

@media only screen and (max-width:640px){
  #PageBar{
    justify-content: center;
    padding: none;
  }
  
  #PageBar li{
    display:block;
    padding: 0 0;
    width:100%;
    min-width: none;
    max-width: none;
    text-align: center;
    margin: auto ;
    margin-left: -5%;
  }

}