body {
  margin: 0;
  background: #7c7c7c;
  text-align: center;
}

a:link{
  color:#000000;
}

a:visited{
  color:#000000;
}

a:hover{
  color:#292929;
}

.PageContent{
  align-content: center;
}

.PopOutParagraph {
  color: #000000;
  font-size: 40px;
}

ul.PageBar{
  list-style: none;
  white-space: nowrap;
}

ul.PageBar li{
  background-color: black;
  display:inline-block;
  padding: 0 0.5rem;
  width: 15%;
  min-width: 5rem;
  max-width: 15rem;
  color:white;
  text-align: center;
  border: 1px solid rgb(255, 136, 0);
  line-height: 2em;
  min-height: 2em;
}


div.ProjectContainer{
  background-color: rgb(36, 36, 36);
  position: relative;
  width: 75%;
  margin:0 auto; 
  overflow: auto;
}

div.ProjectTitleTile{
  background-color: rgb(0, 0, 0);
  border:2px solid rgb(255, 136, 0);
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

div.ProjectTitleTile p{
  text-align: left;
  position:absolute;
  padding: 8px;
  bottom: 0;
  color:rgb(255, 255, 255);
}

div.ProjectTitleTile h1{
  position: absolute;
  text-align: left;
  color:rgb(255, 255, 255);
}

p.ParagraphContent{
  display:flex;
  justify-content: center;
  text-align:left;
  text-indent: 50px;
  align-items: center;
  margin: auto;
  width: 70%;
  padding: 2rem;
  font-size:20px;
}

pre {
  background: #f4f4f4;
  border: 5px solid #5D2B90;

  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 70%;
  overflow: scroll;
  text-align: left;
  padding: 1em 1.5em;
  display: block;
  margin: auto;
}

div.IframeContainer{
  position:relative;
  width: 100%;
  height:0;
  padding-bottom: 56.25%;
}

div.IframeContainer iframe{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background:url(images/Untitled.png) center center no-repeat;
}

img{
  max-width: 80%;
  max-height: 80%;
  margin:auto;
  
}

@media only screen and (max-width:1214px) and (min-width:481px){
  ul.PageBar{
    list-style: none;
    white-space: normal;
  }

  ul.PageBar li{
    padding: 0 0.5rem;
    width: 15%;
    min-width: 0rem;
    max-width: 15rem;
    
    text-align: center;
  }
}

@media only screen and (max-width:480px){
  ul.PageBar{
    list-style: none;
    white-space:nowrap;
    justify-content: center;
  }

  ul.PageBar li{
    display:block;
    padding: 0 0;
    width:100%;
    min-width: none;
    max-width: none;
    text-align: center;
    margin: auto ;
    margin-left: -5%;
    font-size: 25px;
  }

}