/*Color Scheme*/
html{
  background-color:#1d1d1d;
}

body{
  background: #000000;
  box-shadow: 0 6px 10px 10px rgba(0, 255, 4, 0.2);
}

a:link, a:visited, a:hover{
  color:#000000;
}

pre, img, div.IframeContainer iframe{
  border-color: #00ff00;
}

.LinkTile{
  border: 1px solid #00ff00;
  background-color: #000000;
}

.PageText{
  color:#ffffff;
}


/*the rest*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height:auto;
  max-width: 960px;
  margin-top:0px;
  margin-bottom:0px;
  margin-left: auto;
  margin-right: auto;
  padding-top:1rem;
  text-align: center;
  
}

/*
footer{
  background: rgba(45, 17, 17, 0);
  color:white;
  width:100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  left:0;
  padding-left: 2rem;
  text-align: left;
}
*/




.PageHeading {
  font-size: 40px;
}

.PageSubtitle{
  justify-content:center;
  text-align:left;
  align-items:center;
  width:70%;
  margin:auto;
  font-size:30px;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.PageListing{
  margin:auto;
  align-items:center;
  justify-content: center;
  text-align: left;
  width:70%;
  padding:1rem;
  font-size:20px;
}

p.ParagraphContent{
  justify-content: center;
  text-align:left;
  text-indent: 50px;
  align-items: center;
  margin-left: auto;
  margin-right:auto;
  width: 70%;
  padding: 2rem;
  font-size:20px;
  text-indent: 0px;
}

#PageBar li{
  
  display:inline-block;
  padding: 0 0.5rem;
  width: 15%;
  min-width: 5rem;
  max-width: 15rem;
  text-align: center;
 
  font-size: 25px;


  line-height: 2em;
  min-height: 2em;
  max-height: 2em;
  overflow-y: hidden;
}




pre {
  color: #f4f4f4;
  /*border: 5px solid #5D2B90;*/
  border-width: 2px;
  border-style:solid;

  background: #444;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 70%;
  overflow: scroll;
  overflow-y: hidden;
  text-align: left;
  padding: 1em 1.5em;
  display: block;
  margin: auto;
  font-family: "Lucida Console", "Courier New", monospace;
}

div.IframeContainer{
  position:relative;
  width: 100%;
  height:0;
  padding-bottom: 56.25%;
}

div.IframeContainer iframe{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background:url(images/Untitled.png) center center no-repeat;
  border-width: 2px;
  border-style: solid;

}

img{
  max-width: 80%;
  max-height: 80%;
  margin:auto;
  border-width: 2px;
  border-style: solid;
}

@media only screen and (min-width:1215px){
  #PageBar{
    padding:1rem;
  }
}

@media only screen and (max-width:1214px) and (min-width:641px){
  #PageBar{
    padding:1rem;
  }

  #PageBar li{
    padding: 0 0.5rem;
    width: 15%;
    min-width: 0rem;
    max-width: 15rem;
    text-align: center;

  }
}

@media only screen and (max-width:640px){
  #PageBar{
    justify-content: center;
    padding: none;
  }
  
  #PageBar li{
    display:block;
    padding: 0 0;
    width:100%;
    min-width: none;
    max-width: none;
    text-align: center;
    margin: auto ;
    margin-left: -5%;
  }

}