/*Color Scheme*/
/*
html{
  background-color:#1d1d1d;
}

body{
  background: #000000;
  box-shadow: 0 6px 10px 10px rgba(0, 255, 4, 0.2);
}

a:link, a:visited, a:hover{
  color:#00ff00;
  text-decoration: none;
}

pre, img, div.IframeContainer iframe{
  border-color: #00ff00;
}

.LinkTile{
  border: 1px solid #00ff00;
  background-color: #000000;
}

.PageText{
  color:#ffffff;
}
*/

/*the rest*/
body {
  font-family: monospace;
  display: flex;
  /*border: 8px solid black;*/
  min-height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height:auto;
  min-width: 720px;
  max-width: 1080px;
  width:70%;
  margin-top:0px;
  margin-bottom:0px;
  margin-left: auto;
  margin-right: auto;
  padding-top:1rem;
  text-align: center;
  
  background-image: url("../DitherTest.png");
  background-size: contain;
  image-rendering: pixelated;
  
/*
  background-image: linear-gradient(#CBE9FF,#CBE9FF,#FFE4CB,#FE9699);
*/
}

img.TitleImage{
  width:98.5%;
}

canvas.TestGL{
  border: 5px solid purple;
  width:100%;
  background:#FE9699;
  height: 256px;
}

.HorizontalBox{
  /*border: 2px solid pink;*/
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  flex:1;
  width: 98.5%;/*may cause horizontal box to overextend*/
  backdrop-filter: brightness(120%) blur(5px);

}

.LeftBar {
  /*border: 8px solid red;*/
  min-width:128px;
}

.MainContent{
  /*border: 8px solid green;*/
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

footer{
  border: 1px solid white;
  height: 100px;
  width:98.33%;
  backdrop-filter: brightness(120%) blur(5px);
}

/*
footer{
  background: rgba(45, 17, 17, 0);
  color:white;
  width:100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  left:0;
  padding-left: 2rem;
  text-align: left;
}
*/




.PageHeading {
  /*border: 4px solid green;*/
  text-align: left;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.PageSubtitle{
  /*border: 4px solid green;*/
  text-align:left;
  font-size:30px;
  margin-top:0;
  margin-bottom:0;
  margin-left:1%;
  /*
  justify-content:center;
  align-items:center;
  width:70%;
  margin:auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
  */
}


p.ParagraphContent{
  /*border: 4px solid green;*/
  text-align:left;
  font-size:22px;
  text-indent: 0px;
  margin-top:2rem;
  margin-bottom:2rem;
  margin-left:2%;
  margin-right:2%;
  /*justify-content: center;
  text-indent: 50px;
  align-items: center;
  width: 70%;
  padding: 2rem;
  */
 
}

.PageListing{
  margin:auto;
  align-items:center;
  justify-content: center;
  text-align: left;
  width:70%;
  padding:1rem;
  font-size:20px;
}


#PageBar li{
  /*
  overflow-y: hidden;
  overflow-x: hidden;
  
  
  width: 20%;
  padding: 0 0.5rem;
  min-width: 5rem;
  max-width: 15rem;
  line-height: 2em;
  min-height: 2em;
  max-height: 2em;
  */
  
  
  font-size: 20px;
  display:block;
  text-align: left;
  padding: 0 0;
  width:100%;
  min-width: none;
  max-width: none;
  margin: auto ;
}



pre {
  color: #f4f4f4;
  border: 5px solid #5D2B90;

  background: #444;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  max-width:720px;
  overflow-y: hidden;
  text-align: left;
  padding: 1em 1.5em;
  display: block;
  margin:auto;
  font-family: "Lucida Console", "Courier New", monospace;
}

div.IframeContainer{
  position:relative;
  width: 100%;
  height:0;
  padding-bottom: 56.25%;
}

div.IframeContainer iframe{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background:url(images/Untitled.png) center center no-repeat;
  border-width: 2px;
  border-style: solid;

}


.MainContent div.ZoomImageContainer{
  width:98.5%;
  height:100%;
  margin:auto;
  /*border:2px solid black;*/
}
div.ZoomImageContainer img{
  cursor:zoom-in;
  margin:auto;
  object-fit: contain;

}
input#zoom_img[type=checkbox]{
  display:none;
}
input#zoom_img[type=checkbox]:checked ~ label > img{
  transform: scale(1.75) translate(0,0)/*translateY(-60vh) translateX(-20vw)*/;
  cursor:zoom-out;
}


.MainContent img.ExampleImage{
  width: 80%;
  max-height: 80%;
  margin:auto;
  border-width: 2px;
  border-style: solid;
  cursor:zoom-in;
}

/*
  -webkit-transition: all .7s ease-in-out;
-moz-transition: all .7s ease-in-out;
-ms-transition: all .7s ease-in-out;
-o-transition: all .7s ease-in-out;
transition: all .7s ease-in-out;
}
*/

/*.MainContent img.ExampleImage:active,
.MainContext img.ExampleImage:focus{
    transform: translate(-50%, -75%);
     transform: scale(2);
}*/

/*

.MainContent img:hover{
  color: #424242; 

opacity: 1;
transform: scale(1.25);
-ms-transform: scale(1.25); /* IE 9 
-webkit-transform: scale(1.25); /* Safari and Chrome 
}
*/

@media only screen and (min-width:1215px){
  #PageBar{
    padding:1rem;
  }
}

@media only screen and (max-width:1214px) and (min-width:641px){
  #PageBar{
    padding:1rem;
  }

  #PageBar li{
    padding: 0 0.5rem;
    width: 15%;
    min-width: 0rem;
    max-width: 15rem;
    text-align: center;

  }
}

@media only screen and (max-width:640px){
  #PageBar{
    justify-content: center;
    padding: none;
  }
  
  #PageBar li{
    display:block;
    padding: 0 0;
    width:100%;
    min-width: none;
    max-width: none;
    text-align: left;
    margin: auto ;
    margin-left: -5%;
  }

}